<div class="rolesAccesses index">
    <h2><?php echo __('Roles Accesses'); ?></h2>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?php echo $this->Paginator->sort('id'); ?></th>
                <th><?php echo $this->Paginator->sort('role_id'); ?></th>
                <th><?php echo $this->Paginator->sort('accessibility'); ?></th>
                <th class="actions"><?php echo __('Actions'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($rolesAccesses as $rolesAccess): ?>
                <tr>
                    <td><?php echo h($rolesAccess['RolesAccess']['id']); ?>&nbsp;</td>
                    <td>
                        <?php echo $this->Html->link($rolesAccess['Role']['name'], array('controller' => 'roles', 'action' => 'view', $rolesAccess['Role']['id'])); ?>
                    </td>
                    <td>
                        <?php
                        echo implode(', ', unserialize($rolesAccess['RolesAccess']['accessibility']));
                        ?>
                    </td>
                    <td class="actions">
                        <?php echo $this->Html->link(__('View'), array('action' => 'view', $rolesAccess['RolesAccess']['id'])); ?>
                        <?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $rolesAccess['RolesAccess']['id'])); ?>
                        <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $rolesAccess['RolesAccess']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $rolesAccess['RolesAccess']['id']))); ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <p>
        <?php
        echo $this->Paginator->counter(array(
            'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
        ));
        ?>	</p>
    <div class="paging">
        <?php
        echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
        echo $this->Paginator->numbers(array('separator' => ''));
        echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
        ?>
    </div>
</div>