#card_no {
    background-image: url("../images/images.png"), url("../images/images.png");
    background-repeat: no-repeat;
    background-size: 120px 361px, 120px 361px;
    padding-left: 54px;
}
.crdbox {
    box-sizing: content-box;   
    font-size: 18px;
    height: 32px;
   
}

form input {
    border: 1px solid #CCCCCC;
    box-sizing: content-box;
    padding: 0 5px;
    font-size: 18px;
    height: 32px;
	outline: none;
}
