<?php //echo '<pre>'; print_r($responses); echo '</pre>'; ?>
<?php //echo '<pre>'; print_r($leads); echo '</pre>'; ?>
<div class="categories index">
	<h2><?php echo $responses[0]['Post']['title']; ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
		<th><?php echo $this->Paginator->sort('id'); ?></th>
		<th><?php echo $this->Paginator->sort('User Name'); ?></th>
		<th><?php echo $this->Paginator->sort('Service Name'); ?></th>
        <th><?php echo $this->Paginator->sort('Question'); ?></th>
        <th><?php echo $this->Paginator->sort('Answer'); ?></th>
            	
	</tr>
	<?php foreach ($responses as $response): ?>
	<tr>
		<td><?php echo h($response['Userresponse']['id']); ?>&nbsp;</td>
		<td><?php echo h($response['User']['name']);?></td>
		<td><?php echo ($response['Post']['title']);?></td>
        <td><?php echo ($response['Question']['name']);?></td>
        <td><?php echo ($response['Userresponse']['answer']);?></td>
	</tr>
       <?php endforeach; ?>
	</table>
	
</div>
<?php //echo $this->element('admin_sidebar'); ?>