<div class="contents view">
<h2><?php echo __('Blockip'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($content['Blockip']['id']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Ip Address'); ?></dt>
		<dd>
			<?php echo h($content['Blockip']['ip_address']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Page Heading'); ?></dt>
		<dd>
			<?php echo h($content['Blockip']['status']); ?>
			&nbsp;
		</dd>		
	</dl>
</div>
<?php //echo $this->element('admin_sidebar'); ?>