<div class="categories form">
<?php echo $this->Form->create('Faq'); ?>
	<fieldset>
		<legend><?php echo __('Edit Faq'); ?></legend>
                <?php

                echo $this->Form->input('question',array('value'=>$faq['Faq']['question'],'style'=>'width:500px;'));
                echo $this->Form->input('answar',array('value'=>$faq['Faq']['answar'],'style'=>'width:500px;','label'=>'Answer'));

	        ?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<?php //echo $this->element('admin_sidebar'); ?>

