<div class="emailTemplates form">
<?php echo $this->Form->create('Category',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Add Category'); ?></legend>
	<?php
		echo $this->Form->input('name',array('required' => 'required','style'=>'width:500px;'));
                echo $this->Form->input('image',array('type'=>'file','required' => 'required','style'=>'width:500px;'));


	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

