

    <div class="users index">
            <h2 style="width:400px;float:left;"><?php echo __('Newsletter'); ?></h2>


            <table cellpadding="0" cellspacing="0">
            <tr>
                <th>SN<?php //echo $this->Paginator->sort('id'); ?></th>
                <th><?php echo $this->Paginator->sort('email'); ?></th>

                <th class="actions"><?php echo __('Actions'); ?></th>
            </tr>
            <?php
            $UserCnt=0;

            foreach ($newsletters as $newsletter):
                //pr($user);
                $UserCnt++;

            ?>
            <tr>
              <td><?php echo $UserCnt;//echo h($user['User']['id']); ?>&nbsp;</td>
              <td><?php echo h($newsletter['Newsletter']['email']); ?>&nbsp;</td>

            <td>

               <!--<a href="<?php //echo $this->webroot?>admin/users/reset_pass/<?php echo $user['User']['id']?>" class="btn btn-primary">Reset Password</a>&nbsp;&nbsp;!-->

               <a href="<?php echo $this->webroot?>admin/users/edit_newsletter/<?php echo $newsletter['Newsletter']['id']?>" class="btn btn-success">Edit</a>&nbsp;&nbsp;

               <a href="<?php echo $this->webroot?>admin/users/delete_newsletter/<?php echo $newsletter['Newsletter']['id']?>" class="btn btn-danger" onclick="return confirm('are you sure to delete this email?');">Delete</a>&nbsp;&nbsp;
            </td>
            </tr>
    <?php endforeach; ?>
            </table>
            <p>
            <?php
            echo $this->Paginator->counter(array(
            'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
            ));
            ?>	</p>
            <div class="paging">
            <?php
                    echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
                    echo $this->Paginator->numbers(array('separator' => ''));
                    echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
            ?>
            </div>
    </div>
    <?php //echo $this->element('admin_sidebar'); ?>


    <script type="text/javascript">
        $(document).ready(function(){
            $('.UserStatus').click(function(){
                var UserStatus=$(this).attr('id');
                $('#search_is_active').val(UserStatus);
                $('#Searchuserfrm').submit();
                //document.Searchuserfrm.submit();
                //$('#UserAdminListForm')[0].submit();
            });
        });
    </script>
    <style>
    .title a{
        color: #fff !important;
    }
    </style>