<div class="categories form">
<?php echo $this->Form->create('Footer'); ?>
	<fieldset>
		<legend><?php echo __('Add Footer Categories'); ?></legend>
	<?php
	  echo $this->Form->input('id');
		echo $this->Form->input('name');
			
		echo $this->Form->input('active');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
