<div class="users form">
<?php echo $this->Form->create('Footer',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Add Sub footer'); ?></legend>
	<?php
	
	 echo $this->Form->input('parent_id', array('type' => 'hidden', 'value' => $parentid));
	 //pr($companyid);
	 //exit;
        echo $this->Form->input('name');
		echo $this->Form->input('link');
			
		echo $this->Form->input('active');
		
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<?php //echo $this->element('admin_sidebar'); ?>