<div class="contents form">
<?php echo $this->Form->create('Footer'); ?>
	<fieldset>
		<legend><?php echo __('Edit Footer'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
			
		echo $this->Form->input('active');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
