<div class="contents form">
<?php echo $this->Form->create('Footer'); ?>
	<fieldset>
		<legend><?php echo __('Edit Sub Footer Link'); ?></legend>
	<?php
	 echo $this->Form->input('parent_id', array('type' => 'hidden', 'value' => $parentid));
	 //pr($parent_id);
     //exit;
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		echo $this->Form->input('link');
			
		echo $this->Form->input('active');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<?php echo $this->element('admin_sidebar'); ?>